.find-item{
    height: 100%;
    width: 100%;
}
.find-item-icon{
    float: left;
    height: .2rem;
    margin: .1rem .1rem;
}
.find-item-title{
    margin-left: .05rem;
    line-height: .38rem;
}
.find-item-right{
    display: block;
    margin-right: .1rem;
    line-height: .38rem;
    float: right;
}
.find-clear{
    display: block;
    height: .1rem;
    width: 100%;
    background-color: #ededed;
}